

MERCADO_PAGO_ACCESS_TOKEN=APP_USR-2017378068480298-042120-3b16b9a4ff570952c81904a39c910b7c-154237743
MERCADO_PAGO_WEBHOOK_SECRET=874c716e0c0a5523b5e4ee611221c1504a3ffc4c111a8d55be65a674693ca8c9
PUBLIC_BASE_URL=https://whatsappvagas.onrender.com
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB0Ym9rem5rcnJ2em55cWZyb2dnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjczNzYzOSwiZXhwIjoyMDkyMzEzNjM5fQ.veYOL2owqnH6F1ScbYSdpVtHWjegXAWVD2ck-STO9tI
SUPABASE_URL=https://ptbokznkrrvznyqfrogg.supabase.co
VERIFY_TOKEN=whatsapp_token_verify
WHATSAPP_PHONE_ID=1123622470827801
WHATSAPP_TOKEN=EAAUlAcgnpaoBRSSHxlDo0ZChH9Mz6iw8Imp6xTSVvF6dj5MrgFvz66oHHbbfayzGlPAdZBZAnUoKyIZCAd27bV8KrNPWta24UdzV5L7MGk7ML4hlyPkZAqZCwy7s4ymLU5qswcU4InZBRqJmb5tMiAXH3jEIUTBNKwdZAU61XYYyf13TSBwsNI2EdZBHgSZBYWzssnXAZDZD
NEXT_PUBLIC_SUPABASE_URL=https://ptbokznkrrvznyqfrogg.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_VRix_dbTn8g9u0O9UDECgQ_FTkZeL4l
PORT=3000
